<!-- <button (click)="login()" >login</button> -->

<div class="container">
    <div class="row justify-content-center" >
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block" style="background: url(../assets/images/login-bg.jpg); background-position: center; background-size: cover;"></div>
              <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                    </div>
                    <form  [formGroup]="loginFrom" class="user">
                     
                        <div class="form-group row">
                          <label for="name" class="col-md-4 col-form-label text-md-right">  Username: <span
                                  class="text-danger">*</span> </label>
                          <div class="col-md-6">
                              <input type="text" formControlName="username" class="form-control" (blur)="logValidationMessages(loginFrom)"
                                [class.is-invalid]="formErrors.username" placeholder="Username *">
                              <div *ngIf="formErrors.username" class="invalid-feedback">{{formErrors.username}}</div>
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="name" class="col-md-4 col-form-label text-md-right">  Password: <span
                                class="text-danger">*</span> </label>
                        <div class="col-md-6">
                            <input type="password" formControlName="password" class="form-control" (blur)="logValidationMessages(loginFrom)"
                              [class.is-invalid]="formErrors.password" placeholder="Password *">
                            <div *ngIf="formErrors.password" class="invalid-feedback">{{formErrors.password}}</div>
                        </div>
                    </div>
                      
                        <button type="submit" (click)="onSubmit(loginFrom.value)" class="btn btn-primary btn-user btn-block">Login</button>  
                         
                       
                    </form>
                    <!-- <pre>{{ loginForm.value | json }}</pre> -->
                    <hr>
                    <div class="text-center">
                        <a class="small" >Create an Account!</a>
                    </div>
                    <div class="text-center">
                        <a class="small" >Forgot Password?</a>
                    </div>                    

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

